body{
    background-color: green;
}
body > p{
    text-align: center;
    color: white;
}

h1, h3{
    text-align: center;
    color: black;
}

h2{
    text-align: center;
    color: red;
}
p{
    margin: 0 auto;
    max-width: 800px;
}
