*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

#preview {
    margin: 2rem auto;
    width: 320px;
    box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.3), 0 0 1px 1px rgba(0, 0, 0, 0.05);
}

img {
    width: 320px;
    -o-object-fit: cover;
    object-fit: cover;
}

.set-triangle {
    --x1: 0;
    --x2: var(--pseudo-radius);
    --x3: calc(var(--pointer-offset) - (var(--pointer-width) / 2));
    --x4: var(--pointer-offset);
    --x5: calc(var(--pointer-offset) + (var(--pointer-width) / 2));
    --x6: calc(100% - var(--pseudo-radius));
    --x7: 100%;
    --y1: 0;
    --y2: var(--pointer-height);
    --y3: calc(var(--pointer-height) + var(--pseudo-radius));
    --y4: calc(100% - var(--pseudo-radius));
    --y5: 100%;
    padding-top: 0;
    display: flex;
    background: #fff;
    --pseudo-radius: 2px;
    --pointer-height: 8px;
    --pointer-width: 16px;
    --pointer-offset: 26px;
    -webkit-clip-path: polygon(var(--x2) var(--y2), var(--x3) var(--y2), var(--x4) var(--y1), var(--x5) var(--y2), var(--x6) var(--y2), var(--x7) var(--y3), var(--x7) var(--y4), var(--x6) var(--y5), var(--x2) var(--y5), var(--x1) var(--y4), var(--x1) var(--y3));
    clip-path: polygon(var(--x2) var(--y2), var(--x3) var(--y2), var(--x4) var(--y1), var(--x5) var(--y2), var(--x6) var(--y2), var(--x7) var(--y3), var(--x7) var(--y4), var(--x6) var(--y5), var(--x2) var(--y5), var(--x1) var(--y4), var(--x1) var(--y3));
    position: relative;
    top: -9px;
}

p {
    position: relative;
    line-height: 1.5;
    font-size: 14px;
    margin: 0 1rem 1rem;
}

p::after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 20px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%);
    pointer-events: none;
}

a {
    color: #000;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: flex-end;
}

footer img {
    height: 24px;
    width: 24px;
    margin: 0 1rem 2rem;
}
