body {
    background-color: rgb(96, 186, 238);
}

 /*スクロールバーを非表示Google Chrome、Safariへの対応*/
 body::-webkit-scrollbar {
     display: none;
 }

body>div>p {
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 50px;
}

h2 {
    text-align: center;
    color: red;
}

h3 {
    width: fit-content;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    font-size: 30px;
    padding: 10px;
    margin: 0px auto;
}

p {
    margin: 0 auto;
    max-width: 800px;
}

.see {
    color: blue;
}

.more {
    background-color: green;
}
