body {
    background-color: black;
}

 /*スクロールバーを非表示Google Chrome、Safariへの対応*/
 body::-webkit-scrollbar {
     display: none;
 }

body>div>p {
    text-align: center;
    color: white;
}

h1,
h3 {
    text-align: center;
    color: orange;
}

h2 {
    text-align: center;
    color: red;
}

p {
    margin: 0 auto;
    max-width: 800px;
}

.see {
    color: blue;
}

.more {
    background-color: green;
}
