body{
    background-color: black;
}
body > div > p{
    text-align: center;
    color: white;
    width: 70%;
    margin: 0 auto;
}
h1, h3{
    text-align: center;
    color: orange;
}
h2{
    text-align: center;
    color: red;
}
.see {
    color: blue;
}
.more p{
    background-color: green;
}
